@font-face {
    font-family: "golosText";
    src: url("../fonts/GolosText/GolosText-VariableFont_wght.ttf") format("truetype");
}

h1
{
    font-family: golosText;
    font-weight: 100;
    margin: 0;
    padding:1rem;
}

.title-logo
{
    height:fit-content;
}

body
{
    display:flex;
    justify-content: center;
}

.main-container
{
    width:40vw;
    background-color:#E4E8EF;
}

.main-container h1
{
    padding-left: 1rem;
}

.header
{
    background-color: blue;
}

.header ul
{
    display:flex;
    padding:0;
    justify-content: space-evenly;
}

.header li
{
    list-style: none;
    padding:0;
    margin: 0;
    background-color: brown;
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;
}

