@font-face {
    font-family: "golosText";
    src: url("../fonts/GolosText/GolosText-VariableFont_wght.ttf") format("truetype");
}

h1
{
    font-family: golosText;
    font-weight:10;
    margin: 0;
    padding:.8rem;
    color:#5A5A5A;
}

.title-logo
{
    height:fit-content;
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.main-services
{
    font-family: golosText;
    font-size:.8rem;
    font-weight:100;
    color:#5A5A5A;
    width:40%;
}
.main-services h2
{
    font-weight:100;
    font-size: 1rem;
    word-wrap: break-word;
}
body
{
    display:flex;
    justify-content: center;
}

.main-services li, .main-services ul
{
    padding:0;
    font-size:.9rem;
    font-weight: 500;
}

.main-services ul
{
    padding-left:2rem;
}

.main-container
{
    width:100%;
    max-width:32rem;
    background-color:#E4E8EF;
    border-style: solid;
    border-color: #5A5A5A;
}

.main-content
{
    display: flex;
    padding-bottom: 3rem;
    width:inherit;
    justify-content: space-evenly;
    
}

.main-container h1
{
    padding-left: 1rem;
}

.header
{
    background-color: blue;
}

.header ul
{
    display:flex;
    padding:0;
    justify-content: space-evenly;
}

.header li
{
    list-style: none;
    padding:0;
    margin: 0;
    background-color: brown;
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;
}

.header-divider
{
    height:.6rem;
    background-color:#8DA4C8;
}

.cover-image
{
    height:16rem;
    overflow: hidden;
    width:inherit;
}

.cover-image img
{
    width:inherit;
    position: relative;
    top:-200px;
}

